<ion-row class="top-row">
  <ion-col size="12">
    <h4 style="padding: 12px 0px 0px 50px;">Books</h4>
  </ion-col>
</ion-row>
<table class="table">
  <thead class="thead-dark">
  <tr>
    <th scope="col">Image</th>
    <th scope="col">Book Name</th>
    <th scope="col">Author</th>
    <th scope="col">Price</th>
    <th scope="col">Purpose</th>
    <th scope="col">Type</th>
    <th scope="col">Published Date</th>
    <th scope="col">Date Added</th>
    <th scope="col">Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let book of books">
    <td scope="row"><img class="image" src="{{book?.image}}"></td>
    <td class="center">{{book?.name}}</td>
    <td class="center">{{book?.author}}</td>
    <td class="center">Rs.{{book?.price}}</td>
    <td class="center">{{book.purpose}}</td>
    <td class="center">{{book?.type}}</td>
    <td class="center">{{book?.publishDate | date: 'yyyy-MM-dd'}}</td>
    <td class="center">{{book?.time | date: 'yyyy-MM-dd'}}</td>
    <td class="center"><img (click)="presentActionSheet()" style="width: 25px" src="../assets/icons/ellipsis-horizontal-sharp.svg"></td>
  </tr>
  </tbody>
</table>
