ng-sidebar-container {
  height: 100%;
}

mat-sidenav-container {
  height: 100%;
}

mat-sidenav, mat-sidenav-content {
  padding: 16px;
}

mat-sidenav {
  background-color: #1CC7E3;
  width: 200px;
}

img{
  width: 25px;
  margin-right: 10px;
}
